<h1>Add new task</h1>
<mat-card>
  <mat-card-content>
    <div class="error" *ngIf="error | async">
      {{ error | async }}
    </div>
    <form (ngSubmit)="onSubmit()" #f="ngForm">
      <mat-form-field appearance="fill">
        <mat-label>Title</mat-label>
        <input name="title" required matInput ngModel/>
      </mat-form-field>
      <mat-form-field appearance="fill" style="margin-left: 25px" >
        <mat-label>User</mat-label>
        <mat-select matNativeControl required name="user" ngModel >
          <ng-container *ngFor="let user of users | async">
            <mat-option [value]="user._id">{{ user.username }}</mat-option>
          </ng-container>
        </mat-select>
      </mat-form-field>
      <div>
        <button
          type="submit"
          mat-raised-button
          color="primary"
          [disabled]="f.invalid || (loading | async)"
        >SAVE</button>
      </div>
    </form>
  </mat-card-content>
</mat-card>

