<div class="error" *ngIf="error | async"> {{error | async}}</div>

<mat-progress-spinner *ngIf="loading | async else todoArea" mode="indeterminate"></mat-progress-spinner>

<ng-template #todoArea>

<mat-card style="display: flex; margin: 10px" *ngFor="let task of tasks | async">
  <mat-card-title style="margin: 15px">{{ task.title }}</mat-card-title>
  <mat-card-content>
    <mat-form-field appearance="fill" style="margin-right: 25px">
      <select matNativeControl required  (change)="onChange(task._id, $event)">
        <option [value]="user._id" *ngFor="let user of users | async">{{ user.username }}</option>
        <option value="{{ task.user._id !== null? task.user.username: 'N/A' }}">{{ task.user.username }}</option>
        <option value="{{ null }}">N/A</option>
      </select>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Status</mat-label>
      <select matNativeControl required (change)="onChangeStatus(task._id, $event)">
        <option *ngIf="task.status" [value]="task.status">{{task.status}}</option>
        <option value="new" *ngIf="task.status !== 'new'">new</option>
        <option value="in_progress" *ngIf="task.status !== 'In progress'">In progress</option>
        <option value="complete" *ngIf="task.status !== 'Complete'">Complete</option>
      </select>
    </mat-form-field>
    <mat-progress-spinner *ngIf="loading | async else deleteArea" mode="indeterminate"></mat-progress-spinner>
    <ng-template #deleteArea>
      <button mat-button (click)="onDelete(task._id)">Delete</button>
    </ng-template>
  </mat-card-content>
</mat-card>
</ng-template>
